{% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

<script>
  // Toastify({
    text: "<p>someone bought these item</p>",
    duration: 3000,
    destination: "",
    newWindow: true,
    avatar: "",
    close: true,
    gravity: "bottom",
    position: "left",
    backgroundColor: "white",
    style: {width: '300px', color: 'black' },
    stopOnFocus: true,
    escapeMarkup: false    
    
    
  }).showToast(); //
</script>

{% schema %}
  {
    "name": "Sales Popup Notification",
    "settings": [],
    "blocks": [
    {
      "name": "Product",
      "type": "sales-products-popup",
      "settings": [
        {
          "type": "product",
          "id": "selectedProduct",
          "label": "product"
          
        }
      
      ]
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %} {% endcomment %}