<div class="main-video-wrapper">
  <div>       
   <a href="https://mission.raicesibericas.com/" >
        <img src="https://cdn.shopify.com/s/files/1/0604/5702/5674/files/Asset_2.png?v=1658664573" id="main-banner-icon-wine"/>
    </a>
  </div>      
    <video playsinline autoplay  muted loop controls="controls" style="width: 1920px" poster="https://cdn.shopify.com/s/files/1/0604/5702/5674/files/spainPosterVid.png?v=1660224966">
    <source src="https://cdn.shopify.com/videos/c/o/v/3ddc0fbcdc7d42b9874e4d01e023de44.mp4" type="video/mp4">
</div>


{% schema %}
{
    "name": "Video Banner",
    "settings": [
        {
            "type": "text",
            "label": "your headline for the section",
            "id": "heading"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "image block",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "your-image",
                    "id": "image"
                },
  			{
            "type": "text",
            "label": "the url of the image",
            "id": "url"
      		  }
            ]
        }
    ],
"presets": [
	{
	"category": "image",
	"name": "Video Banner"
}
]
}
{% endschema %}



