<div class="page-width">
  <header class="section-header text-center">
    <h1 class="section-header__title h2">{{ page.title }} y aca estoy yo</h1>
  </header>
      <div class="rte">
        {{ page.content }}
        <div class="images-container">
        {% section "icons-with-text-two" %}
        </div>
        
                {% section "pre-footer" %}

  </div>
</div>